<!DOCTYPE html>
<html>

<head>
    <title>Bookmarks</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/x-icon" href="../static/assets/bookmark.png">
</head>

<body id="db-connection">
    <nav>
        <div class="header">
            <div>
                <h2><a href="/">Bookmarks</a></h2>
            </div>
            <!-- <div class="search-box">
                <input id="searchText" type="text" onkeyup="searchFunction()" placeholder="Inserisci..." />
                <button onclick="getConfig()">cerca</button>
            </div> -->
        </div>
        <div class="menu-button">
            <a onclick="openSettings()"><img src="../static/assets/menu.png"></a>
        </div>
    </nav>
    <div class="menu">
        <div class="menu-option">
            <button onclick="window.open('/db-connection', '_self')">db connection(s) list</button>
        </div>
        <div class="menu-option">
            <button onclick="window.open('/settings', '_self')">settings</button>
        </div> 
    </div>
    <div class="db-connection">
        <table id="dbconnection-table">
            <thead id="dbconnection-table-head">
                <tr>
                    <th>Cliente</th>
                    <th>Ambiente</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>URL</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody id="dbconnection-table-body">
            </tbody>
        </table>
    </div>
    <script src="../static/scripts.js"></script>
</body>

</html>