<!DOCTYPE html>
<html>

<head>
    <title>Bookmarks</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/x-icon" href="../static/assets/bookmark.png">
</head>

<body id="index">
    <nav>
        <div class="header">
            <div>
                <h2><a href="/">Bookmarks</a></h2>
            </div>
            <div class="search-box">
                <input id="searchText" type="text" onkeyup="searchFunctionIndex()" placeholder="Inserisci..." />
                <!-- <button onclick="getConfig()">cerca</button> -->
            </div>
        </div>
        <div class="menu-button">
            <a onclick="openSettings()"><img src="../static/assets/menu.png"></a>
        </div>
    </nav>
    <div class="menu">
        <div class="menu-option">
            <button onclick="window.open('/db-connection', '_self')">db connection(s) list</button>
        </div>
        <div class="menu-option">
            <button onclick="window.open('/settings', '_self')">settings</button>
        </div> 
    </div>
    <div class="bookmarks">
        <div id="bannerNoBookmarks">
            <b>ATTENZIONE!</b><br>
            Non sono stati trovati dei segnalibri in memoria, occorre caricare un file o inserire manualmente i segnalibri.
        </div>
        <table id="linkTable">
        </table>
    </div>
    <input id="input" type="file" accept=".json"/>
    <script src="../static/scripts.js"></script>
</body>

</html>