<!DOCTYPE html>
<html>

<head>
    <title>Bookmarks</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/x-icon" href="../static/assets/bookmark.png">
</head>

<body id="settings">
    <nav>
        <div class="header">
            <div>
                <h2><a href="/">Bookmarks</a></h2>
            </div>
        </div>
        <div class="menu-button">
            <a onclick="openSettings()"><img src="../static/assets/menu.png"></a>
        </div>
    </nav>
    <div class="menu">
        <div class="menu-option">
            <button onclick="window.open('/db-connection', '_self')">db connection(s) list</button>
        </div>
        <div class="menu-option">
            <button onclick="window.open('/settings', '_self')">settings</button>
        </div>
    </div>
    <div class="settings">
        <div>
            <h3>Configurazione ambiente</h3>
            <label>Utente</label> <input id="username" type="text" />
            <button onclick="changeUsername()">salva</button>
            <button onclick="removeUsername()">rimuovi</button>
        </div>
        <div>
            <h3>Esportazione</h3>
            <!-- <button>Esporta connessioni</button> -->
            <button onclick="exportBookmarks()">Esporta segnalibri</button>
        </div>
    </div>
    <script src="../static/scripts.js"></script>
</body>

</html>